body{
	font-family:Cantarell, Arial, sans-serif;
	background:white;
	color:rgb(92, 97, 102);
	font-size:12px;
	margin:0;
}

.tab-target{
	display:none;
}
.tab-target.visible{
	display:block;
}

.tab-ele .close:after{
    content:"x";
    margin-left:.25em;
    margin-right:-.5em;
}
.tab-ele.changed .close:after{
	content:"\2022"
}

.tab-bar {
    overflow:hidden;
    border-bottom:8px solid #666;
    height:28px;
    padding-top:12px;
}

.tab-bar > div{
	position:relative;
	display:block;
	float:left;
	color:white;
	background:#666666;
	height:29px;
	line-height:29px;
	margin-left:27px;
	margin-right:3px;
	padding:0 5px;
	-webkit-filter:brightness(80%);
	-webkit-transition:all .08s linear;
	z-index:0;
	cursor:pointer;
}

.tab-bar > div:after,
.tab-bar > div:before{
	content:"";
	display:inline-block;
	position:absolute;
	width:28px;
	height:29px;
}
.tab-bar > div:before{
	background-image:url("img/tab-left.svg");
	margin-left:-27px;
	left:0;
}
.tab-bar > div:after{
	background-image:url("img/tab-right.svg");
	right:0;
	margin-right:-27px;
}
			
.tab-bar > div.visible{
	-webkit-filter:brightness(100%);
	z-index:2;
}

.editor {
	position: absolute !important;
	top: 4em;
	right: 0;
	bottom: 0;
	left: 0;
}
